* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

em {
    color: #475550;
    font-size: 15px;
 }

.header {
    background-image: url("/images/smiling-image.jpg");
    background-size: cover;
    background-position: 60% 0%;
    padding: 60px 60px 40px;
    width: 100%;
}

.header-content {
    max-width: 60%;
}

.header-content h1 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #0a7e51;
    text-align: left;
    margin-bottom: 30px;
}

.hero-paragraph {
    color: #475550;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    max-width: 81%;
    text-align: left;
    margin-bottom: 10px;
}

.hero-paragraph p {
    margin-bottom: 20px;
}

.hero-button-container{
    margin: 50px 0 15px;
}

.hero-button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #11a36a;
    padding: 15px 30px;
    border-radius: 4px;
    text-align: center;
}

.market {
    padding: 84px 30px;
    text-align: center;
}

.market-text {
    max-width: 70%;
    margin: auto;
}

.market-text h3 {
    color: #11a36a;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    margin: 10px 0 60px 0;
}

.market-text p {
    color: #475550;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.students-testimonial {
    padding: 0 30px 84px 30px;
    max-width: 100%;
    margin: auto;
}

.testimonial-container {
    width: 26%;
    text-align: center;
    display: inline-block;
    padding: 0 2em;
    vertical-align: middle;
}

.testimonial-photos, .testimonial-2-photos {
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-container h4 {
    margin: 20px 0;
    color: #11a36a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}






.testimonial-2-title{
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
}

.testimoninial-paragraph {
    color: #181a18;
    font-size: 15px;
}

.testimonial-2-name {
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;;
}

.formation-title {
    color: #11a36a;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
}

.formation-list-item {
    text-align: center;
    color: #475550;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    list-style-type: square;
}

.know-more-title {
    padding: 0 20px;
    color: #11a36a;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.know-more-button {
    font-size: 14px;
    background-color: #11a36a;
    padding: 15px 30px;
    border-radius: 4px;
    color: white;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}