body {
    font-family: 'Montserrat', sans-serif;
}

.hero-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #0a7e51;
    text-align: center;
}

.hero-paragraph {
    color: #475550;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
}

.hero-button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: #11a36a;
    padding: 15px 30px;
    border-radius: 4px;
}

.market-title {
    color: #11a36a;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
}

.market-paragraph {
    color: #475550;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

em {
   color: #475550;
   font-size: 15px;
}

.testimonial-title {
    color: #11a36a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.testimonial-photos, .testimonial-2-photos {
    border-radius: 50%;
}

.testimonial-2-title{
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
}

.testimoninial-paragraph {
    color: #181a18;
    font-size: 15px;
}

.testimonial-2-name {
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;;
}

.formation-title {
    color: #11a36a;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
}

.formation-list-item {
    text-align: center;
    color: #475550;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
    list-style-type: square;
}